/* _content/ToolsApp.Components/CarTool/CarForm.razor.rz.scp.css */
label[b-ey20r5e42a] {
  display: block;
}
/* _content/ToolsApp.Components/Component1.razor.rz.scp.css */
.my-component[b-xmozdrpuy2] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
